header {
  // height: 5.75rem;
  overflow: visible;
  padding: 0 !important;
  position: relative;
  z-index: 10;

  .tool-bar__button {
    border-radius: 0.5rem;
  }
}

h1 {
  font-size: 1.05rem;
  color: $theme-primary-v4;
  text-align: center;
  width: auto;
  padding: 0.5rem 0.4rem;
  background-color: rgba($prim-r, $prim-g, $prim-b, 0.3);
}

.tool-bar {
  overflow-x: auto;
}

.tool-bar__button {
  height: 2.35rem;
  width: 2.35rem;
  color: #222;
}

.font-select-container {
  // @include debugger();
  max-width: 30%;
  min-width: 7rem;
  width: 9rem;
  display: inline-block;

  button {
    display: flex;
    width: 100%;
    font-size: 0.95rem;
    height: 2.25rem;
    justify-content: flex-start;
  }

  &:focus-within {
    .menu {
      display: block;
    }
  }

  .menu {
    background-color: $theme-primary-v6;
    color: white;

    button {
      border-radius: 0;
      color: inherit;
      // border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);

      &.active {
        background-color: $theme-primary-v5;
      }
    }
  }
}

.menu {
  position: absolute;
  width: inherit;
  max-width: 50vw;
  min-width: 9.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 0.25rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  animation-duration: 0.3s !important;
  display: none;
}

.select-font__button {
  background-color: #eee;
  border-radius: 0.5rem;

  .d-inline-block {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.font-color-select-container {
  max-width: 30%;
  width: auto;
  display: inline-block;

  &:focus-within {
    .menu {
      display: flex;
    }
  }

  .menu {
    display: none;
    max-width: 8.25rem;
    max-height: 20rem;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

body.desktop.is-pc {
  .font-color-select-container {
    .menu {
      max-width: 8.75rem;
    }
  }
}
