@import 'constants';

.Paper {
  // @include debugger();
  height: 95%;
  width: 35rem;
  margin: 2.5vh auto;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  border-radius: 1.75rem;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  header {
    height: 6rem;
    overflow: hidden;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.05rem;
    color: $theme-primary-v4;
    border-radius: 1.35rem 1.35rem 0.2rem 0.2rem;
    text-align: center;
    width: auto;
    padding: 0.25rem 0.4rem;
    background-color: rgba($prim-r, $prim-g, $prim-b, 0.2);
  }
}

.text-area-container {
  // @include debugger();
  position: relative;
  overflow-y: auto;
  background: inherit;
  max-height: calc(100% - 9.75rem);
  height: 100%;
  border-top: 0.0625rem solid $theme-primary-v7;
  border-bottom: 0.0625rem solid $theme-primary-v7;
}

.text-area {
  display: block;
  padding: 0.35rem 0.75rem 0 2.5rem;
  min-height: 100%;
  line-height: 2rem;
  background-image: linear-gradient(
      $theme-primary-v7 0.0625rem,
      transparent 0.0625rem
    ),
    linear-gradient($theme-primary-v7 0.0625rem, transparent 0.0625rem),
    linear-gradient(#e0e0e0 0.0625rem, white 0);
  background-size: 0.0625rem 0.0625rem, 0.0625rem 0.0625rem, 100% 2rem;
  background-repeat: repeat-y;
  background-position: 1.5rem 0, 1.7rem 0, 0 3.95rem;
}

footer.footer {
  // @include debugger();
  height: 3.75rem;
  padding: 0.25rem 0.25rem !important;
}

button.record {
  background-color: $theme-primary;
  color: white;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0;
  left: calc(100% - 3.25rem);

  &:hover,
  &:focus {
    color: $theme-primary;
    background-color: transparent;
  }
}
