@media screen and (max-width: 767px) {
  .Paper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    max-height: 100vh;
  }
}

@media screen and (max-width: 575px) {
  .font-color-select-container {
    .menu {
      max-width: unset;
      min-width: unset;
      right: 0.5rem;
      left: 0.5rem;
    }
  }
}
