.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.75s forwards ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-bottom {
  animation: slideInBottom 0.5s;
}

@keyframes slideInBottom {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.75s forwards ease;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-out-right {
  animation: slideOutRight 0.75s forwards ease;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.scale-in {
  animation: scaleIn 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes scaleIn {
  from {
    transform: scale(6);
  }
  to {
    transform: scale(1);
  }
}

// home page animations

.slide-in-top {
  animation: slideInTop 0.75s ease;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes backgroundSlideIn {
  0% {
    transform: translateX(100%);
  }
  3%,
  50% {
    transform: translateX(0);
  }
  53%,
  100% {
    transform: translateX(-100%);
  }
}
